.container-sobremi {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 900px;
    height: 25vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.description h1{
    color: white;
}

.carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 400px;
}

.carousel .slide img {
    max-height: 300px;
    max-width: 100%;
    background-size: cover;
  }

.carousel .slide .legend {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
  }

  .imgcursos{
    
  }